name: Publish Windows

on:
  release:
    types: [ prereleased, released ]


jobs:    
  build:
    runs-on: windows-latest
    env:
      KVXOPT_BUILD_GSL: 0
      KVXOPT_BUILD_FFTW: 0
      KVXOPT_BUILD_GLPK: 0
      KVXOPT_BUILD_DSDP: 0
      KVXOPT_MSVC: 1
      SUITESPARSE_VERSION: 5.8.1
      SUITESPARSE_SHA256: 06726e471fbaa55f792578f9b4ab282ea9d008cf39ddcc3b42b73400acddef40
      OPENBLAS_VERSION: 0.3.10

    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]
        suite-sparse: [src_suitesparse]
        ARCH: [x64, x86]
        include:
        - ARCH: x64
          VC_TARGET: 64
          PYTHON_TARGET: win-amd64
          OPENBLAS_SHA256: a307629479260ebfed057a3fc466d2be83a2bb594739a99c06ec830173273135

        - ARCH: x86
          VC_TARGET: 32
          PYTHON_TARGET: win32
          OPENBLAS_SHA256: 7eab2be38e4c79f0ce496e7cb3ae28be457aef1b21e70eb7e32147b479b7bb57


    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.ARCH}}

      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: coreutils unzip


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov coveralls wheel twine


      - name: Download openblas
        shell: msys2 {0}
        run: |
            wget https://github.com/xianyi/OpenBLAS/releases/download/v${OPENBLAS_VERSION}/OpenBLAS-${OPENBLAS_VERSION}-${{matrix.ARCH}}.zip
            wget https://raw.githubusercontent.com/xianyi/OpenBLAS/v${OPENBLAS_VERSION}/LICENSE  -O OpenBLAS_LINCENSE
            echo "${{matrix.OPENBLAS_SHA256}}  OpenBLAS-${OPENBLAS_VERSION}-${{ matrix.ARCH }}.zip" > OpenBLAS.sha256
            sha256sum -c OpenBLAS.sha256
            mkdir OpenBLAS
            unzip OpenBLAS-${OPENBLAS_VERSION}-${{matrix.ARCH}}.zip -d OpenBLAS/
            echo "KVXOPT_BLAS_LIB_DIR=${{ github.workspace}}/OpenBLAS/lib" >> $GITHUB_ENV
            echo "KVXOPT_LAPACK_LIB=libopenblas" >> $GITHUB_ENV
            echo "KVXOPT_BLAS_LIB=libopenblas" >> $GITHUB_ENV

      - name: Config suite-sparse source
        shell: msys2 {0}
        run: |
            wget https://github.com/DrTimothyAldenDavis/SuiteSparse/archive/v${{ env.SUITESPARSE_VERSION }}.tar.gz
            echo "${SUITESPARSE_SHA256}  v${{ env.SUITESPARSE_VERSION }}.tar.gz" > SuiteSparse.sha256
            shasum -a 256 -c SuiteSparse.sha256
            tar -xf v${{ env.SUITESPARSE_VERSION }}.tar.gz
            echo "KVXOPT_SUITESPARSE_SRC_DIR=${{ github.workspace}}/SuiteSparse-${{ env.SUITESPARSE_VERSION }}" >> $GITHUB_ENV


      - name: Cofigure Visual Studio 2019
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars${{ matrix.VC_TARGET }}.bat"
        shell: cmd

      - name: Install (windows)
        run: |
          python setup.py build
          copy ${{ github.workspace}}\OpenBLAS\bin\libopenblas.dll build\lib.${{ matrix.PYTHON_TARGET }}-${{ matrix.python-version }}\kvxopt
          copy OpenBLAS_LINCENSE build\lib.${{ matrix.PYTHON_TARGET }}-${{ matrix.python-version }}\kvxopt
          python setup.py bdist_wheel
        shell: cmd

      - uses: actions/upload-artifact@v2
        with:
          name: windows-wheels
          path: dist/*.whl

      - name: Publish wheels to PyPI test
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_TEST_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_PASSWORD }}
        run: |
          twine upload --repository testpypi dist/*.whl
        if: ${{ github.event_name == 'release' && github.event.action == 'prereleased' }}

      - name: Publish wheels to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload dist/*.whl
        if: ${{ github.event_name == 'release' && github.event.action == 'released' }}
